@import url('../../basics/basics.css');

@import url('../../components/header.css');



@import url('../../components/botones-flotantes.css');
@import url('../../components/footer.css');


.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-main {
  width: 100%;
  height: 100%;
}

/* Title */

.main-title {
  width: 100%;
  padding: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

@media (min-width: 767px) {
}